<!-- Navigation -->
    <div class="navigation" id="navigation" >
        <div class="nav-items">
            <div class="nav-item active" data-section="dashboard">
                <i class="fas fa-home"></i>
                <span>Ana Sayfa</span>
            </div>
            <div class="nav-item" data-section="relaxation">
                <i class="fas fa-leaf"></i>
                <span>Gevşeme</span>
            </div>
            <div class="nav-item" data-section="binaural">
                <i class="fas fa-headphones"></i>
                <span>Binaural</span>
            </div>
            <div class="nav-item" data-section="records">
                <i class="fas fa-chart-line"></i>
                <span>Kayıtlar</span>
            </div>
            <div class="nav-item" data-section="support">
                <i class="fas fa-life-ring"></i>
                <span>Destek</span>
            </div>
        </div>
    </div>

    